absl-py>=1.0.0
astroid>=2.11.4
attrs>=21.4.0
colorama>=0.4.4
cycler>=0.11.0
dill>=0.3.4
fonttools>=4.33.3
isort>=5.10.1
kiwisolver>=1.4.2
lazy-object-proxy>=1.7.1
matplotlib>=3.5.2
mccabe>=0.7.0
mediapipe>=0.8.10
numpy>=1.22.3
opencv-contrib-python>=4.5.5.64
opencv-python>=4.5.5.64
packaging>=21.3
Pillow>=9.1.0
platformdirs>=2.5.2
protobuf==3.19.4
pylint>=2.13.8
pyparsing>=3.0.8
pyserial>=3.5
python-dateutil>=2.8.2
six>=1.16.0
tomli>=2.0.1
typing_extensions>=4.2.0
wrapt>=1.14.1
